[submodule "blockly"]
	path = lib/blockly
	url = https://github.com/mit-cml/blockly.git
[submodule "closure-library"]
	path = lib/closure-library
	url = https://github.com/mit-cml/closure-library.git
